.theFAQ {
  margin-top: 20px;
}

.faqQuestion{
  background-color: #ff595a;
  padding: 5px;
}

.faqQuestion li{
  float: left;
  
}


.faqAnswer {
  width: auto;
  background-color: #000a30;
  padding: 15px;
  color: white;
}

.faqAnswer li {
  float: left;
}